################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AdoNetDemo/AdoNetDemo/obj
/DotNet/AmazonAwsDynamoDbDemo/.vscode
/DotNet/AmazonAwsDynamoDbDemo/bin/Debug/net10.0
/DotNet/AmazonAwsDynamoDbDemo/obj
/DotNet/AmazonAwsS3StorageDemo/bin/Debug/net10.0
/DotNet/AmazonAwsS3StorageDemo/obj
/DotNet/AspNetMvcCalculator/AspNetMvcCalculator/obj
/DotNet/AspNetMvcDemo/AspNetMvcDemo/obj
/DotNet/AspNetWebApiCsvDemo/AspNetWebApiCsvDemo/obj
/DotNet/AspNetWebApiEFNorthwindDemo/AspNetWebApiEFNorthwindDemo/obj
/DotNet/AzureBlobStorageDemo/.vs
/DotNet/AzureBlobStorageDemo/AzureBlobStorageDemo/bin/Debug/net10.0
/DotNet/AzureBlobStorageDemo/AzureBlobStorageDemo/obj
/DotNet/AzureFuncAppDemo/.vscode
/DotNet/AzureQueueStorageDemo/.vs
/DotNet/AzureQueueStorageDemo/AzureQueueStorageDemo/bin/Debug/net10.0
/DotNet/AzureQueueStorageDemo/AzureQueueStorageDemo/obj
/DotNet/CultureDemo/obj
/DotNet/EFNorthwindDemo/.vs
/DotNet/EFNorthwindDemo/EFNorthwindDemo/obj
/DotNet/FileProcessing/obj
/DotNet/GoogleCloudPubSubDemo/GoogleCloudPublisherDemo/bin/Debug/net10.0
/DotNet/GoogleCloudPubSubDemo/GoogleCloudPublisherDemo/obj
/DotNet/GoogleCloudPubSubDemo/GoogleCloudSubscriberDemo/bin/Debug/net10.0
/DotNet/GoogleCloudPubSubDemo/GoogleCloudSubscriberDemo/obj
/DotNet/GuessTheNumberGame/obj
/DotNet/HelloWorld/obj
/DotNet/HelloWorld2/HelloWorld2/obj
/DotNet/LinqDemo/obj
/DotNet/OopDemo/obj
/DotNet/ProtectedWebApi/.vs
/DotNet/ProtectedWebApi/ProtectedWebApi/bin/Debug/net10.0
/DotNet/ProtectedWebApi/ProtectedWebApi/obj
/DotNet/StringPerformance/obj
/DotNet/WebApiClientDemo/.vs
/DotNet/WebApiClientDemo/WebApiClientDemo/bin/Debug/net10.0
/DotNet/WebApiClientDemo/WebApiClientDemo/obj
/Integration/AzureServiceBusQueueDemo/bin/Debug/net10.0
/Integration/AzureServiceBusQueueDemo/obj
/Integration/SalaryXmlToJsonConversion/bin/Debug/net10.0
/Integration/SalaryXmlToJsonConversion/obj
/Python/Machine Learning/.vscode
/Python/Northwind.db
/Testing automation/DotNetUnitTestDemo/.vs/DotNetUnitTestDemo.slnx
/Testing automation/DotNetUnitTestDemo/DotNetUnitTestDemo/bin/Debug/net10.0
/Testing automation/DotNetUnitTestDemo/DotNetUnitTestDemo/obj
/Testing automation/DotNetUnitTestDemo/DotNetUnitTestDemo.Tests/bin/Debug/net10.0
/Testing automation/DotNetUnitTestDemo/DotNetUnitTestDemo.Tests/obj
